* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 16px;
  }

  
  
  body {
    width: 100%;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: flex-start;
    background-color: #ebe6e6;
    align-items: center;
  }

  .App {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    /* align-items: center; */
    border: 1px solid #333;
    box-shadow: 0px 0px 15px gray;
    background-color: #ffffff00;
  }

  

  .signup{
    margin: auto;

  }

  
  .login{
    margin: auto;
  }

  
  .logout{
    margin: auto;
  }

  .dashboard{
    position: relative;
    left: 40%;
    top: 20%;

  }
  
  #root {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    justify-content: center;
    align-items: center;
  }

  .ui.secondary.pointing.menu .item {
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-radius: 0;
    -ms-flex-item-align: end;
    align-self: flex-end;
    color: rgba(0,0,0,.95);
    margin: 0 0 -2px;
    padding: 0.85714286em 1.14285714em;
    border-bottom-width: 2px;
    -webkit-transition: color .1s ease;
    transition: color .1s ease;
    text-decoration: none;
}

.ui.secondary.pointing.menu .active.item {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #1b1c1d;
    font-weight: 700;
    color: rgba(0,0,0,.95);
}





.ui.menu:not(.vertical) .right.item, .ui.menu:not(.vertical) .right.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto!important;
}

.ui.secondary.pointing.menu .active.item:hover {
    border-color: #1b1c1d;
    color: rgba(0,0,0,.95);
}



.ui.secondary.pointing.menu .dropdown.item:hover, .ui.secondary.pointing.menu .link.item:hover, .ui.secondary.pointing.menu a.item:hover {
    background-color: transparent;
    color: rgba(0,0,0,.87);
}

.ui.secondary.pointing.menu .active.item {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #1b1c1d;
    font-weight: 700;
    color: rgba(0,0,0,.95);
}




.ui.secondary.pointing.menu {
    width: 100%;
    background-color:#ebe6e6;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin-left: 0;
    margin-right: 0;
    border-bottom: 2px solid rgba(34,36,38,.15); 
    
    
}
